<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  
  <servlet>
 	<servlet-name>TestaOracle</servlet-name>
 	<servlet-class>TestaOracle</servlet-class>
 </servlet>
 
  <servlet>
 	<servlet-name>Conexao</servlet-name>
 	<servlet-class>Conexao</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>Conexao</servlet-name>
 	<url-pattern>/Conexao</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>TestaOracle</servlet-name>
 	<url-pattern>/TestaOracle</url-pattern>
 </servlet-mapping>
  
 
</web-app>